# Cargo
/target/
.cargo

# Swift
SugargliderUI/.build/
SugargliderUI/.swiftpm/
*.xcodeproj
*.xcworkspace
xcuserdata/

# Vim
*~
*.swp
*.swo

# macOS
.DS_Store/
.DS_Store

# Agents
.claude/settings.local.json
/agents.local.md

# IDE
.idea/
.vscode/
